<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div><%- include('./partials/navbar'); %></div>
    <div class="container">
      <img
        src=".\two_chinese_artefactors.png"
        width="200px"
        align="left"
        hspace="10"
        vspace="10"
      />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iure
      debitis corrupti officiis eligendi minus repudiandae reiciendis alias
      dolore voluptatem totam, natus rem dolores atque quia itaque. Doloremque,
      exercitationem illum.
    </div>
  </body>
</html>
